<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IllusionLibs.BepInEx" version="5.0.0" targetFramework="net35" developmentDependency="true" />
  <package id="IllusionLibs.BepInEx.Harmony" version="2.0.0-beta" targetFramework="net35" developmentDependency="true" />
  <package id="IllusionLibs.BepInEx.MonoMod" version="19.11.5.1" targetFramework="net35" developmentDependency="true" />
  <package id="IllusionLibs.HoneySelect.UnityEngine" version="5.3.5" targetFramework="net35" developmentDependency="true" />
  <package id="Mono.Cecil" version="0.10.4" targetFramework="net35" />
  <package id="MonoMod.RuntimeDetour" version="19.8.2.3" targetFramework="net35" />
  <package id="MonoMod.Utils" version="19.8.2.3" targetFramework="net35" />
</packages>